{
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "extends": "standard",
  "plugins": [
    "react",
    "standard",
    "promise"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/prefer-default-export": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ]
  },
  "globals": {
    "import": true,
    "expect": true
  }
}