/**
*
* {{ properCase name }}
*
*/

import React from 'react'
import PropTypes from 'prop-types'

export default class {{ properCase name }} extends React.Component {
  static propTypes = {

  }

  constructor (props) {
    super (props)

  }

  handleClick = () => this.setState({ clicked: true });

  render () {
    return (
      <div>

      </div>
    )
  }
}