/**
*
* {{ properCase name }} as a PureComponent
*
*/

import React from 'react'
import PropTypes from 'prop-types'

export default class {{ properCase name }} extends React.PureComponent {
  static propTypes = {

  }

  shouldComponentUpdate (np, ns) {

  }

  render () {
    return (
      <div>

      </div>
    )
  }
}
